{
  "arrowParens": "always",
  "printWidth": 100,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "semi": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrderSortSpecifiers": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^~", "^[./]"],
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": true
}
